name: CICD

on:
  push:
  pull_request:
    branches: ["master"]
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: webapp/package-lock.json

      - name: Install dependencies
        working-directory: ./webapp
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: ./webapp
        run: npx playwright install --with-deps

      - name: Build site
        working-directory: ./webapp
        env:
          BASE_PATH: /${{ github.event.repository.name }}
        run: npm run build

      - name: Run tests
        working-directory: ./webapp
        run: npm test

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: webapp/.svelte-kit/cloudflare
  cd:
    runs-on: ubuntu-latest
    needs: ci
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Trigger Cloudflare Pages Deployment
        run: curl -X POST "$CLOUDFLARE_DEPLOY_HOOK"
        env:
          CLOUDFLARE_DEPLOY_HOOK: ${{ secrets.CLOUDFLARE_DEPLOY_HOOK }}

  cdGH:
    runs-on: ubuntu-latest
    needs: ci
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
